@import "./colors.css";

a {
    text-decoration: underline;
    /* color: lightskyblue */
    color: var(--colors-link);
}

/*syntax highlighting for code blocks*/
.astro-code {
    padding: 1rem;
    border-radius: 1rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    background-color: #0e0d0d !important;
    tab-size: 4ch
}

/*give a bit of space around h1 and h2*/
.markdown-body h2 {
    margin-top: 2rem;
}

/* make images responsive */
.markdown-body img {
    max-width: 85%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 1.5rem;
    border-radius: 8px;
}

/*image captions*/
img+em {
    display: block;
    text-align: center;
    margin-top: 0.5rem;
}

/* make tables look good*/
table {
    min-width: 50%;
    width: auto;
    margin: 1.5rem auto;
    border: 1px solid;
    border-collapse: collapse;
    overflow: hidden;
}

table th {
    border: 1px solid #d0d7de;
    padding: 0.75rem 1rem;
    text-align: left;
    font-weight: 600;
}

table td {
    padding: 0.75rem 1rem;
    border: 1px solid;
}

table tr:hover {
    background-color: #141414;
}


/* Target all callout containers */
[data-callout] {
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
    border: 1px solid rgba(var(--callout-color), 0.7);
    /* Uses a CSS variable for color */
}

/* Target specific callout types (e.g., 'note') */
[data-callout-type="note"] {
    --callout-color: 0, 100, 255;
    /* RGB values for the blue theme */
    background-color: rgba(var(--callout-color), 0.1);
}

/* Target the callout title/header */
[data-callout-title] {
    font-weight: bold;
    display: flex;
    align-items: center;
}