---
import Base from "../../layouts/Base.astro";

import GoBack from "../../components/GoBack.astro";
import PostList from "../../components/PostList.astro";

import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const allPosts = await getCollection("posts");
    const uniqueTags = [
        ...new Set(allPosts.map((post: any) => post.data.tags).flat()),
    ];

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) =>
            post.data.tags ? post.data.tags.includes(tag) : false,
        );
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}
const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Base>
    <div>
        <GoBack backlink="/tags" backlinkName="all tags" />
        <div class="tags">
            <h1>tag: <span class="change-color">{tag}</span></h1>
            <p>
                Posts tagged with `<span class="change-color">{tag}</span>`
            </p>
        </div>
        <PostList allPosts={posts} show_tags={true} />
    </div>
</Base>

<style>
    .change-color {
        color: var(--colors-link);
    }
</style>
