---
import Base from "../layouts/Base.astro";
---

<Base>
    <div>
        <h1>About</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in
            lacus mollis, sodales orci non, dictum eros. Mauris luctus dolor
            massa, et pretium nulla eleifend vel. Vivamus euismod massa sed
            blandit aliquam. Maecenas sit amet ex volutpat, iaculis ante
            condimentum, vulputate eros. Vestibulum vehicula maximus lobortis.
            Donec et luctus odio. Nullam eget commodo lacus, vitae volutpat
            nisl. Mauris sed vehicula turpis. Aenean vel sem luctus, egestas
            turpis eu, ultrices leo. Curabitur ac purus sit amet justo lacinia
            iaculis. Aenean enim tellus, imperdiet vitae ultrices eget, iaculis
            vulputate odio.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in
            lacus mollis, sodales orci non, dictum eros. Mauris luctus dolor
            massa, et pretium nulla eleifend vel. Vivamus euismod massa sed
            blandit aliquam. Maecenas sit amet ex volutpat, iaculis ante
            condimentum, vulputate eros. Vestibulum vehicula maximus lobortis.
            Donec et luctus odio. Nullam eget commodo lacus, vitae volutpat
            nisl. Mauris sed vehicula turpis. Aenean vel sem luctus, egestas
            turpis eu, ultrices leo. Curabitur ac purus sit amet justo lacinia
            iaculis. Aenean enim tellus, imperdiet vitae ultrices eget, iaculis
            vulputate odio.
        </p>
    </div>
    <!-- links to my social  -->
    <div>
        <h2>Connect with Me</h2>
        <ul>
            <li>
                <a
                    href="https://www.linkedin.com/in/anuk-indipa-gamage-28728a314/"
                    target="_blank">LinkedIn</a
                >
            </li>
            <li>
                <a href="github.com////">Github</a>
            </li>
        </ul>
    </div></Base
>
